<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parcial_semana6">

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Parcial_semana6">
        <activity
            android:name=".ReproductorVideo"
            android:exported="false" />
        <activity
            android:name=".SensorAcelerometro"
            android:exported="false" />
        <activity
            android:name=".Tabs"
            android:exported="false" />
        <activity
            android:name=".Acercade"
            android:exported="false" />
        <activity
            android:name=".Musica"
            android:exported="false" />
        <activity
            android:name=".SensorProximidad"
            android:exported="false" />
        <activity
            android:name=".RecibirDatos"
            android:exported="false" />
        <activity
            android:name=".EnviarDatos"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".Bienvenido"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>